{% extends "components/base.html"%}

{% block meta %}
<title>Susitikimas užfiksuotas</title>
<meta name="robots" content="noindex, nofollow">
{% endblock meta %}


{% block content %}
<body>
  {% include "components/nav.html"%}
  <div class="content">
    <div class="confirmation-success-container">
      <h1>✅</h1>
      <h2>Susitikimas sėkmingas!</h2>
      <p>Linkime gero laiko kartu :)</p>
    </div>
  </div>
  {% include "components/footer.html" %}
</body>
{% endblock content %}