{% extends "components/base.html"%}
{% load static %}

{% block meta %}
<title>Pamiršau slaptažodį</title>
<meta name="robots" content="noindex, nofollow">
{% endblock%}

{% block content %}
<body>
  {% include "components/nav.html" %}

  <div class="login-container">
    <h1>Slaptažodžio keitimas</h1>
    <form action="" method="post">
      {% csrf_token %}
      <p class='note'>Gausite nuorodą el. paštu, kurią paspaudę galėsite pasikeisti slaptažodį.</p>
      <div class="form-field-input">
        <label for="email">El. paštas</label>
        <input type="email" name="email" id="" value="{{email}}">
      </div>
      <button type="submit" class="login-btn">Siųsti nuorodą</button>
    </form>
  </div>

  {% include "components/footer.html" %}
</body>
{% endblock %}