<div class="form-field-input">
  <p class="section-descriptor"><strong>Banko sąskaita</strong></p>
  <label for="bank_recipient">Gavėjas</label>
  <input name="bank_recipient" type="text" value="{{user_form.instance.bank_recipient}}">
</div>
<div class="form-field-input">
  <label for="bank_account_number">Sąskaitos numeris</label>
  <input name="bank_account_number" type="text" value="{{user_form.instance.bank_account_number}}">
  <p class="note">Uždirbtas pelnas pervedamas kiekvieno mėnesio antroje pusėje.</p>
</div>